@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilo global profissional */
body {
  background-color: #F2F2F2;
  font-family: 'Inter', system-ui, sans-serif;
  color: #333;
  margin: 0;
}

/* Remove setas de inputs number */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
  -moz-appearance: textfield;
}

/* Esconde barra de rolagem horizontal mas mantém funcionalidade */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}